<div *ngIf="alert.openAlert" class="alert {{alert.class}} alert-dismissible fade show top_alert_position" role="alert">
  <span [innerHTML]="alert.massage"></span>
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="system-font site-font">
  <!-- Nav -->
  <nav class="navbar navbar-expand-lg navbar-light nav-bar-bg">
    <a class="navbar-brand" href="/system"><img class="logo" src="assets/images/logo/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><button type="button" class="btn btn-primary btn-sm"
              onclick="introJs().start()">Guide</button></li>
          <li data-intro="You can manage all your pc,  your account password, etc" data-step="4"
            class="nav-item active intro-step-4">
            <div class="nav-link mouse">
              <div class="dropdown">
                <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Welcome back, {{user.firstName}}! <i class="fas fa-angle-down"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right system-font" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/account">Account</a>
                  <a class="dropdown-item" href="/system">Computer</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </nav>
  <!--Nav end  -->
  <div class="container">
    <div class="row ">
      <div class="card-body col-xl-6 col-md-4 intro-step-1" data-intro="List Down All Your Online Pc that Belong To your Account"
        data-step="1">
        <select *ngIf="(pcs | json) != '[]'" name="" id="" class="type-text" #pc (change)="selectPC(pc.value)">
          <option value="*">Select Computer</option>
          <option *ngFor="let pc of pcs; let p = index;" [value]="pc._id">
            {{pc.pcName}}
            {{pc.platform}}
          </option>
        </select>
        <span *ngIf="(pcs | json) === '[]'">Online Computer not available</span>
      </div>
      <div class=" card-body col-xl-6 col-md-8 intro-step-2" data-intro="You can Connect to another  pc using this Public PC Key"
        data-step="2">
        <form action="" (submit)="getAccessToPC()">
          <div class="row">
            <div class="col-xl-8 col-md-8"><input type="text" name="publicPcKey" [(ngModel)]="publicPcKey" class="type-text"
                placeholder="Public Computer Key"></div>
            <div class="col-xl-4 col-md-4">
              <button type="submit" class="btn btn-primary w-100 blue-btn btn-big ">Access Computer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body col-xl-12" *ngIf="pcSelect">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-sm-8 col-12">
            <div class="row">
              <div class="col-5"><i class="fas fa-memory"></i> (Memory)</div>
              <div class="col-7"> {{pcInfoData.useMemory}} / {{pcInfoData.totalMemory}}    <i class="fas fa-sync mouse ml-2" (click)="pcInfo()"></i></div>
            </div>
          </div>
        </div>
      </div>
        <div class="card-body  col-12"  *ngIf="(breadcrumbObject | json) != '[]'">
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb">
  <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbObject; "><div class="mouse" (click)="openFolder(breadcrumb.path, breadcrumb.name)">{{breadcrumb.name}}</div></li>
  </ol>
</nav>
        </div>
      <div class="card-body col-xl-12 intro-step-3" data-intro="All the  hard drives list  down  here." data-step="3">
        <span class="card-box-title">Driver List</span>
        <div class="row" *ngIf="(hDDList.parts | json) != '[]'">
          <div class="col-xl-3 col-sm-6 col-12 system-font    " *ngFor="let hd of hDDList.parts; let i = index ">
            <div class="hddBox box mouse main-hdd-box" id="click_{{i}}" (click)="openDrive(hd.letter ,i)">
              <div class="row ">
                <div class="col-xl-12 ">
                  <div class="row">
                    <div class="col-xl-1">
                      <i class="far fa-hdd"></i>
                    </div>
                    <div class="col-xl-10">
                      <strong> {{hd.letter}} </strong>
                      <br>
                      {{hd.free}} free of {{hd.size}}
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between" *ngIf="(folderList | json) != '[]'">
      <div class="col-xl-1 text-left">
        <div class="dropdown">
          <i class="fas fa-cog mouse" id="folderMianDropDown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="folderMianDropDown">
            <a class="dropdown-item" data-toggle="modal" data-target="#createFolder" href="#">Create Folder </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="(folderList | json) != '[]'">
      <div class="card-body col-xl-12">
        <div class="row">
          <div class="col-xl-3  " *ngFor="let folder of folderList;  let e = index">
            <div class="box">
              <div class="row">
                <div class="col-xl-1" (click)="openFolder(folder.path , folder.fileName)">
                  <i class="far fa-folder mouse" *ngIf="!folder.file"></i>
                  <i class="far fa-file mouse" *ngIf="folder.file"></i>
                </div>
                <div class="col-xl-8 mouse folder-name" *ngIf="!folder.file" (click)="openFolder(folder.path , folder.fileName)">
                  {{folder.fileName}}
                </div>
                <div class="col-xl-8 mouse folder-name" *ngIf="folder.file" >
                  {{folder.fileName}}
                </div>
                <div class="col-xl-1">
                  <div class="dropdown">
                    <i class="blue-text fas fa-angle-down mouse " data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
       
       
                      <div (click)="propertyFunction(folder)" class="dropdown-item mouse " data-toggle="modal"
                        data-target="#fileOrFolderProperty">Property
                      </div>

                      
                      <div (click)="downloadFile(folder)" class="dropdown-item mouse " *ngIf="folder.file"  >Download
                      
                      </div>
                      
                    </div>
                  </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- file  or  folder  property-->
<div *ngIf="(property | json) != '[]'" class="modal fade" id="fileOrFolderProperty" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{property.fileName}}</h5><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Size - {{property.fileInfo.sizeText}}</li>
          <li class="list-group-item">Created - {{property.fileInfo.birthTime}}</li>
          <li class="list-group-item">Accessed - {{property.fileInfo.accessed}}</li>
          <li class="list-group-item">Modified - {{property.fileInfo.modified}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Folder</h5><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-12 form-col">
              <input type="text" id="folderName" [(ngModel)]="createFolderName" name="createFolderName"
                class="type-text">
            </div>
            <div class="col-xl-12 form-col">
              <div class="error_message" *ngIf="createFolderNameErrorMsg!=''">
                {{createFolderNameErrorMsg}}
              </div>
            </div>
            <div class="col-xl-6 form-col">
              <div (click)="validateFolder($event)" id="creteFolder-btn"
                class="btn btn-primary w-100 blue-btn btn-big ">Create
              </div>
            </div>
            <div class="col-xl-6 form-col">
              <button type="button" class="btn btn-secondary w-100 btn-big btn-big" data-dismiss="modal">Close
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
