.click-btn {
    cursor: pointer;
}

.frontside .card,
.backside .card {
    min-height: 100%;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.progress {
    width: 100%;
}

.progress-bar {
    display: inline;
    text-align: left;
}

.download-box {
    padding: 20px
}

img.logo {
    width: 163px;
}

.top_alert_position .alert {
    bottom: 10px;
    position: fixed;
    right: 10px;
    z-index: 1;
    z-index: 2000;
}

.mouse {
    cursor: pointer;
}

.software_venison {
    font-size: 14px;
    color: gray;
}

.box {
    border-radius: 3px;
    border: 1px solid #DCDEE0;
    font-size: 14px;
    height: auto;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 10px 10px;
    vertical-align: middle;
    width: 100%;
}

.box:hover {
    background-color: #f8f8f8;
    border: 1px solid #1e88e5;
}

.box .card-subtitle {
    font-size: 13px;
}

#remoteUserBox i {
    color: #1e88e5;
    font-size: 28px;
}

.app-store-icon {
    color: #0080ff;
    font-size: 20px;
    line-height: 39px !important;
}

.app-store-text {
    font-size: 14px;
    line-height: 39px !important;
}

.app-store-model-header {
    border: none;
}

.app-store-title {
    font-size: 18px;
    font-weight: 600;
}

.app-store-info {
    color: #5f6368;
    font-weight: 600;
}

.btn-circle {
    width: 87px;
    height: 30px;
    padding: 5px 8px;
    border-radius: 100px;
    font-size: 14px;
    line-height: 1.33;
}