@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  scroll-behavior: smooth;
}

.logo {
  width: 163px
}

.nav-bar-bg {
  background-color: #ffffff00 !important;
  width: 100%;
  z-index: 2;
}

.mouse {
  cursor: pointer;
}

.top_alert_position {
  position: fixed !important;
  z-index: 1;
  right: 10px;
  top: 10px;
  z-index: 2000;
}

.logo-modal {
  width: 143px;
}

.green-btn {
  background-color: #15CD72 !important;
  color: #ffffff !important;
  border: 1px solid #15CD72;
}

.green-btn:hover {
  background-color: #18e07c;
  color: #ffffff !important;
  border: 1px solid #15CD72;
}

.blue-btn {
  background-color: #0080ff !important;
  color: #ffffff !important;
}

.blue-text {
  color: #0080ff !important;
}

.green-text {
  color: #15CD72 !important;
}

.text-weight-600 {
  font-weight: 600 !important;
}

.top-section {
  background-image: url('../images/Bg.png');
  background-size: cover;
  /* height           : 100vh; */
  /*padding-bottom   : 4%;*/
}

.right-box-main {
  background-image: url('../images/Bg_img.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.row-box {
  /* height: 100vh; */
}

.left-box {
  padding-top: 11%;
  padding-bottom: 11%;
  color: white;
}

.text-home-mini {
  font-size: 35px;
  font-weight: 400;
}

.text-home-max {
  font-size: 70px;
  font-weight: bold;
}

.text-home-how {
  font-size: 35px;
  font-weight: lighter;
}

.main-page-big-text {
  font-size: 42px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px
}

.main-page-mini-text {
  max-width: 700px;
  margin: -16px auto 16px auto;
  color: rgba(196, 227, 255, 0.8);
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  text-align: center;
  padding-top: 30px;
}

.type-text {
  height: 48px;
  max-width: 100%;
  padding: 0 16px;
  border: 1px solid #f1f1f1;
  background: #fff;
  color: rgba(3, 27, 78, .7);
  -webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
  transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.type-text:focus {
  outline: none;
  border-color: #0069ff;
}

.form-col {
  padding-top: 15px;
}

.error_message,
.error_message a {
  color: #e53935;
  border-color: #ff4d4a;
}

.success_message,
.warning_message,
.error_message,
.promo_message,
.info_message,
.resolved_message {
  position: relative;
  font-size: 15px;
  max-width: 1290px;
  margin: 0px auto 30px auto;
  padding: 10px 24px 10px 10px;
  text-align: left;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.system-font {
  font-size: 15px;
  color: #616366 !important;
}

.site-font {
  font-family: 'Lato', sans-serif;
}

.hddBox {
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  font-weight: inherit;
}

.box {
  border: 1px solid #DCDEE0;
  vertical-align: middle;
  border-radius: 3px;
  height: auto;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.card-box-title {
  color: #9DA2A6;
  font-size: 13px;
  font-weight: 600;
}

.top-main-container {
  padding: 0px 5% 0 5%;
}

#site-main-nav.onScrolled {
  background: #fff !important;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #0069ff;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.helpUs {
  position: fixed;
  right: 0;
  bottom: 0;
}

/**System Block**/
.box-active {
  border: 1px solid #1e88e5;
  background-color: #f5f9ff;
}

.box:hover {
  border: 1px solid #1e88e5;
  background-color: #f8f8f8;
}

.folder-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-big {
  height: 48px !important;
}

/**System Block End**/
/**
Account Block
 */
#header2_left h1 {
  font-size: 25px;
  line-height: 34px;
  margin: 0px 0px 10px 0px;
  color: #363B40;
  font-weight: 500;
  text-transform: capitalize;
}

#pills-account-tab {
  padding-left: 0px;
}

.pills-tab-account {
  border-bottom: 1px solid #ebebeb;
}

.account-a {
  color: #616366 !important;
}

.account-a.active {
  color: #1e88e5 !important;
}

.account-box {
  margin-right: auto;
  margin-left: auto;
}

.header {
  font-size: 25px;
  line-height: 34px;
  margin: 0px 0px 10px 0px;
  color: #363B40;
  font-weight: 500;
  text-transform: capitalize;
}

.copyIcon {
  font-size: 22px;
  margin-left: 12px;
}

/**
Account Block  End
 */
/**
Home  block
 */
.platform .on-platform {
  font-size: 37px;
  color: #ffffff;
}

.platform .done-dev {
  color: #ffffff;
}

.platform .platform-dev {
  right: 16px;
  position: absolute;
  bottom: 2px;
  font-size: 19px;
}

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #0080ff;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

a.linkd_in_link {
  font-size: 19px;
}

/*
.circle{
    padding: 37px 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #0080ff;
    max-height: 129px;
    z-index: 2;
    border: 1px solid #0080ff;
    font-size: 30px;
    }
.circle img{ max-height: 129px;}
*/
.full-new:after {
  left: calc(50% - 0px) !important;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #0080ff;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #0080ff;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #0080ff;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.count_box {
  border: 1px solid #efefef;
  border-radius: 4px;
}

.count_box .row {
  padding: 20px;
}

.title_count {}

.title_count_amount {}

#team {
  padding-top: 100px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 190px;
  height: 190px;
  border: 7px solid #fff;
}

#feedback .team-member img {
  width: 150px;
  height: 150px;
  border: 7px solid #fff;
}

.onScrolled .nav-item a,
.onScrolled .nav-item a span {
  color: #0080ff !important;
}

.onScrolled .nav-item.cta>a {
  border-left: 1px solid rgba(0, 128, 255, 0.7) !important;
}

.menu-btn {
  text-align: center;
  padding: 0px;
  outline: unset;
  border: unset;
}

.menu-btn:hover,
.menu-btn:focus {
  outline: unset;
  border: unset;
}

.menu-btn i {
  font-size: 33px;
}

.onScrolled .menu-btn i {
  font-size: 33px;
  color: #0080ff;
}

.c-title-h{
  font-size: 25px !important;
}

.border-c{ border-top: 1px solid #dee2e659; }


/*Slide Alert*/
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.featured-content-popup-interstitial {
  animation-duration: 3200ms;
  animation-iteration-count: 1;
  animation-name: slideUp;
  background-color: #fff;
  border-radius: 8px;
  bottom: 24px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.15);
  color: #2a2a2a;
  display: grid;
  font-family: 'Roboto', sans-serif;
  min-width: 180px;
  overflow: hidden;
  position: fixed;
  right: 24px;
  z-index: 9999;
  /*border: 3px solid #0080ff;*/
}

@media screen and (max-width: 688px) {
  .featured-content-popup-interstitial {
    left: 24px;
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 688px) {
  .featured-content-popup-interstitial {
    grid-auto-flow: column;
    grid-template-columns: minmax(220px, 1fr);
    max-width: 640px;
  }
}

.featured-content-popup-interstitial-actions {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  justify-items: end;
}

.featured-content-popup-interstitial-actions-action {
  background-color: #0080ff;
  border-color: #ffffff;
  border-radius: 9999px;
  border-style: solid;
  border-width: 2px;
  color: #08b7bb;
  cursor: pointer;
  padding: 8px 16px;
  transition: filter 500ms ease;
}

.featured-content-popup-interstitial-actions-action:focus,
.featured-content-popup-interstitial-actions-action:hover {
  filter: brightness(1.8);
  outline: none;
}

.featured-content-popup-interstitial-actions-action-label-title {
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.featured-content-popup-interstitial-chrome {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}

.featured-content-popup-interstitial-chrome-actions {
  align-items: end;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.featured-content-popup-interstitial-chrome-actions-action {
  align-content: center;
  background-color: transparent;
  border-width: 0;
  color: #2a2a2a !important;
  cursor: pointer;
  display: flex;
  height: auto !important;
  justify-content: center;
  line-height: inherit !important;
  padding: 0 !important;
  position: static !important;
  transition: color 500ms ease;
  width: auto !important;
}

.featured-content-popup-interstitial-chrome-actions-action:focus,
.featured-content-popup-interstitial-chrome-actions-action:hover {
  color: #08b7bb;
  border: none;
  outline: none;
}

.featured-content-popup-interstitial-chrome-actions-action-media-object {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

.featured-content-popup-interstitial-label {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 6px;
  justify-items: start;
}

.featured-content-popup-interstitial-label-description {
  font-size: 13px;
  line-height: 1.3em;
  text-align: justify;
}

.featured-content-popup-interstitial-label-title {
  font-size: 21px;
}

.featured-content-popup-interstitial-label-type {
  background-color: #08b7bb;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1em;
  padding: 4px 6px;
}

.featured-content-popup-interstitial-main {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 24px;
  padding: 24px;
}

.featured-content-popup-interstitial-media {
  align-items: stretch;
  display: grid;
  overflow: hidden;
}

.featured-content-popup-interstitial-media-object {
  display: block;
  max-height: 100%;
  min-width: 100%;
  height: 204px;
}

/*Slide Alert END*/
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 14px;
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-weight: 400;
  opacity: 1 !important;
}

.slider-text .font-size-medium {
  font-size: 30px;
}

.slider-text p {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 255);
}

.slider-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  font-weight: 900;
}

.font-size-light {
  font-size: 30px !important;
}

.slider-text .btn-primary {
  border: 1px solid #fff !important;
  background: #fff !important;
  color: #0031ff !important;
  font-size: 17px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.slider-text .btn-primary:hover,
.slider-text .btn-primary:focus {
  background: transparent !important;
  color: #fff !important;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 4px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 0px;
}

/**
Home  block end
 */
@media only screen and (max-width : 991.98px) {
  .slider-text h1 {
    font-size: 40px;
  }

  .ftco-navbar-light {
    position: relative;
    top: 0;
  }
}

@media only screen and (min-width: 991.98px) {
  .one-forth {
    padding-left: 8% !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .slider-text .one-forth {
    width: 100% !important;
    margin-top: 5%;
    text-align: center;
    align-self: unset;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1440px) {

  /* Styles */
  .text-home-mini {
    font-size: 25px;
    font-weight: 400;
  }

  .text-home-max {
    font-size: 49px;
    font-weight: bold;
  }

  .text-home-how {
    font-size: 25px;
    font-weight: lighter;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    border-left: unset;
  }

  .nav-bar-bg {
    /*padding-bottom: 12px;*/
  }

  .onScrolled .nav-item.cta>a {
    border-left: unset !important;
  }
}