<section class="top-section">
    <nav class="navbar navbar-expand-lg navbar-dark  ftco-navbar-light nav-bar-bg"
         id="site-main-nav">
        <!--<div class="container">-->
        <a class="navbar-brand"
           href="#">
            <img class="logo hide"
                 id="blue-logo"
                 src="assets/images/logo/logo.png"
                 alt="logo"
                 style="width: 186px;">
            <img class="logo show"
                 id="white-logo"
                 src="assets/images/logo/logo_white.png"
                 alt="logo">
        </a>
        <button class="navbar-toggler menu-btn"
                type="button"
                data-toggle="collapse"
                data-target="#ftco-nav"
                aria-controls="ftco-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> <i class="fas fa-bars "></i>
        </button>
        <div class="collapse navbar-collapse"
             id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"><a href="https://github.com/supunlakmal/thismypc"
                                        target="_blank"
                                        class="nav-link"><i class="fab fa-github"
                                                            style="font-size: 20px;"></i> Github</a></li>

                <li class="nav-item"><a href="https://gitter.im/Thismypc/community"
                                        target="_blank"
                                        class="nav-link">Community</a></li>
                <li class="nav-item"><a href="#stack-block"
                                        class="nav-link">Tech stack</a></li>

                <li class="nav-item"><a href="#team"
                                        class="nav-link">Team</a></li>
                <li class="nav-item"><a href="#task"
                                        class="nav-link">Task</a></li>


                <li class="nav-item"><a href="#"
                                        class="nav-link"
                                        data-toggle="modal"
                                        data-target="#loginModal"
                                        (click)="resetModel()">Login</a></li>
                <li class="nav-item cta"><a href="#"
                                            class="nav-link"
                                            data-toggle="modal"
                                            data-target="#registerModal"
                                            (click)="resetModel()"><span>Sign Up</span></a></li>
            </ul>
        </div>
        <!--</div>-->
    </nav>
    <!-- END nav -->
    <div class="hero-wrap">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="slider-text d-md-flex align-items-center"
                 data-scrollax-parent="true">
                <div class="one-forth pr-md-4  align-self-md-center"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <p class="mb-md-1 mb-sm-3 font-size-medium"
                       data-scrollax="properties: { translateY: '5%', opacity: 1.6 }"><strong>Welcome to the</strong>
                    </p>
                    <h1 class="mb-1"
                        data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Evolution of remote pc</h1>
                    <p class="mb-md-3 mb-sm-2 font-size-light"
                       data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Browser Your pc from anywhere</p>
                    <p class="mb-md-5 mb-sm-3"
                       data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Experimental Full Stack
                        Project </p>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="ThisMyPC-win32-x64.zip"
                                                                                          class="btn btn-primary px-4 py-3">Download
                        App</a><span class="ml-2 mouse"
                                     data-toggle="modal"
                                     data-target=".bd-example-modal-lg"> Release Note</span>
                    </p>

                    <div class="row platform mt-5 mb-2">
                        <div class="col-xl-1 col-4 mb-2"><i class="fab fa-windows on-platform"></i>
                            <i class="fas fa-check-circle platform-dev done-dev text-success"></i></div>
                        <div class="col-xl-1 col-4 mb-2"><i class="fab fa-linux on-platform"></i>
                            <i class="fas fas fa-sync-alt platform-dev pending-dev text-warning "></i></div>
                        <div class="col-xl-1 col-4 mb-2"><i class="fab fa-apple on-platform"></i>
                            <i class="fas fas fa-sync-alt platform-dev pending-dev text-warning "></i></div>
                        <div class="col-xl-1 col-4 mb-2"><i class="fab fa-android on-platform"></i>
                            <i class="fas fas fa-sync-alt platform-dev pending-dev text-warning "></i></div>
                        <div class="col-xl-1 col-4 mb-2"><i class="fas fa-mobile-alt on-platform"></i>
                            <i class="fas fas fa-sync-alt platform-dev pending-dev text-warning "></i></div>


                    </div>

                </div>
                <div class="banner-img col-lg-6 col-md-6">
                    <img class="img-fluid"
                         src="assets/images/header_img_1.png"
                         alt="banner">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container"
         id="stack-block">
        <div class="">
            <div class="container">
                <h2 class="pb-3 pt-2 border-bottom mb-5 text-center">Technology Stack</h2>
                <!--first section-->
                <div class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">N</div>
                    </div>
                    <div class="col-6">
                        <h5>Node.js</h5>
                        <p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.</p>
                    </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner top-right"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner left-bottom"></div>
                    </div>
                </div>
                <!--second section-->
                <div class="row align-items-center justify-content-end how-it-works d-flex">
                    <div class="col-6 text-right">
                        <h5>Angular</h5>
                        <p>Angular is a TypeScript-based open-source full-stack web application framework led by the
                            Angular Team at Google and by a community of individuals and corporations.</p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">A</div>
                    </div>
                </div>
                <!--path between 2-3-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner right-bottom"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner top-left"></div>
                    </div>
                </div>
                <!--third section-->
                <div class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center  full  full-new d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">E</div>
                    </div>
                    <div class="col-6">
                        <h5>Electron.js</h5>
                        <p>Electron is an open-source framework developed and maintained by GitHub. Electron allows for
                            the development of desktop GUI applications using front and back end components originally
                            developed for web applications</p>
                    </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner top-right"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner left-bottom"></div>
                    </div>
                </div>
                <!--second section-->
                <div class="row align-items-center justify-content-end how-it-works d-flex">
                    <div class="col-6 text-right">
                        <h5>Express.js</h5>
                        <p>Express.js, or simply Express, is a web application framework for Node.js, released as free
                            and open-source software under the MIT License. It is designed for building web applications
                            and APIs.</p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">E</div>
                    </div>
                </div>
                <!--path between 2-3-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner right-bottom"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner top-left"></div>
                    </div>
                </div>
                <!--third section-->
                <div class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center  full  full-new d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">R</div>
                    </div>
                    <div class="col-6">
                        <h5>React Native</h5>
                        <p>React Native · A framework for building native apps using React</p>
                    </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                    <div class="col-2">
                        <div class="corner top-right"></div>
                    </div>
                    <div class="col-8">
                        <hr/>
                    </div>
                    <div class="col-2">
                        <div class="corner left-bottom"></div>
                    </div>
                </div>
                <!--second section-->
                <div class="row align-items-center justify-content-end how-it-works d-flex">
                    <div class="col-6 text-right">
                        <h5>MongoDB</h5>
                        <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL
                            database program, MongoDB uses JSON-like documents with schemata.</p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                        <div class="circle font-weight-bold">M</div>
                    </div>
                </div>
                <!--path between 2-3-->
            </div>
        </div>
    </div>
</section>
<section class="bg-light"
         id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pb-4">
                <h4 class="section-heading text-uppercase">Our Amazing Contributors</h4>
                <h6 class="section-subheading text-muted">Make the World a Better Place.</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/contributors/supun_abesekara.jpg"
                         alt="Supun Abesekara">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/supun-lakmal/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Supun Abesekara</h4>
                    <p class="text-muted">Full Stack Developer (MEAN Stack , PHP)</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/contributors/sanjeevan_jeevaratnam.jpg"
                         alt="Sanjeevan Jeevaratnam">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/sanjeevan-jeevaratnam-75a84862/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Sanjeevan Jeevaratnam</h4>
                    <p class="text-muted">Full Stack Developer (MEAN Stack , PHP) | Android Developer </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/contributors/shenal_de_mel.jpg"
                         alt="Shenal De Mel">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/shenal-de-mel-bb3b81179/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Shenal De Mel</h4>
                    <p class="text-muted">Creative Graphic Designer </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/contributors/Akhil-Gvs.jpg"
                         alt="Akhil Gvs">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/shenal-de-mel-bb3b81179/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Akhil Gvs</h4>
                    <p class="text-muted">Full-stack Developer at S.A. Info Technology</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light"
         id="feedback">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pb-4">
                <h4 class="section-heading text-uppercase">Feedback</h4>
                <h6 class="section-subheading text-muted">We all need people who will give us feedback. That’s how we
                    improve</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/feedback/vihanga-yasith.jpg"
                         alt="Vihanga Yasith">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/vihanga-yasith-214205112/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Vihanga Yasith</h4>
                    <p class="text-muted">Software Engineer</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/feedback/chathuranga-kalana.jpg"
                         alt="Chathuranga Kalana">
                    <h4><a class="linkd_in_link"
                           href="https://www.linkedin.com/in/chathuranga-kalana-kurulugama-4228a785/">
                        <i class="fab fa-linkedin-in"></i>
                    </a> Chathuranga Kalana</h4>
                    <p class="text-muted">Software Engineer Student </p>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle"
                         src="assets/images/feedback/Jacob-Bogers.jfif"
                         alt="Jacob Bogers">
                    <h4><a class="linkd_in_link"
                           href="https://github.com/jacobbogers">
                        <i class="fab fa-github"></i>
                    </a> Jacob Bogers</h4>


                </div>
            </div>

        </div>
    </div>
</section>


<section id="task">

    <div class="container">

        <h1 class="text-center">Task</h1>


        <div class="row">

            <div class="col-xl-12">

                <p><samp>Setup apache server <span class="badge badge-pill badge-success">Done</span></samp></p>
                <p><samp>Setup NodeJS <span class="badge badge-pill badge-success">Done</span></samp></p>
                <p><samp>Electron js build <span class="badge badge-pill badge-success">Done</span></samp></p>
                <p><samp>Angular Web And System <span class="badge badge-pill badge-success">Done</span></samp></p>
                <p><samp>User Can View and open Folder <span class="badge badge-pill badge-success">Done</span></samp>
                </p>
                <p><samp>User Can access other user pc using security Key <span class="badge badge-pill badge-success">Done</span></samp>
                </p>
                <p><samp>Electron js build as exe <span class="badge badge-pill badge-info">Pending</span></samp></p>
                <p><samp>Admin Panel <span class="badge badge-pill badge-info">Pending</span></samp></p>

                <p><samp>User Can Copy File from one location to an other location
                    <span class="badge badge-pill  badge-info">Pending</span></samp></p>
                <p><samp>User Can Send File PC <span class="badge badge-pill  badge-info">Pending</span></samp></p>

                <p><samp>User Can Download File from PC <span class="badge badge-pill  badge-info">Pending</span></samp>
                </p>
                <p><samp>User Activity Log <span class="badge badge-pill  badge-info">Pending</span></samp>
                </p>
                <p><samp>Email module <span class="badge badge-pill  badge-info">Pending</span></samp>
                </p>
                <p><samp>Implement tutorial guide for website <span class="badge badge-pill  badge-info">Ongoing</span></samp>
                </p>


            </div>


        </div>


    </div>
</section>


<div class="modal fade"
     id="loginModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <img class="logo-modal"
                             src="assets/images/logo/logo.png"
                             alt="logo">
                    </div>
                    <div class="col-xl-12">
                        <form action=""
                              (submit)="onSubmit($event)">
                            <div class="row">
                                <div class="col-xl-12 form-col">
                                    <div class="error_message"
                                         *ngIf="error_message">
                                        {{error_message_text}}
                                    </div>
                                </div>
                                <div class="col-xl-12 form-col"><input type="text"
                                                                       class="type-text"
                                                                       placeholder="Email Address"
                                                                       [(ngModel)]="email"
                                                                       name="email"
                                                                       required></div>
                                <div class="col-xl-12 form-col"><input type="password"
                                                                       class="type-text"
                                                                       placeholder="Password"
                                                                       [(ngModel)]="password"
                                                                       name="password"
                                                                       required></div>
                                <div class="col-xl-12 form-col">
                                    <button type="submit"
                                            class="btn btn-primary w-100 blue-btn ">Login
                                    </button>
                                </div>
                                <div class="col-xl-12 form-col">
                                    <button type="button"
                                            class="btn btn-secondary w-100"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="registerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <img class="logo-modal"
                             src="assets/images/logo/logo.png"
                             alt="logo">
                    </div>
                    <div class="col-xl-12">
                        <form action=""
                              (submit)="onRegister($event)">
                            <div class="row">
                                <div class="col-xl-12 form-col">
                                    <div class="error_message"
                                         *ngIf="error_message">
                                        {{error_message_text}}
                                    </div>
                                </div>
                                <div class="col-xl-12 form-col"><input type="text"
                                                                       class="type-text"
                                                                       placeholder="Your Name"
                                                                       [(ngModel)]="name"
                                                                       name="name"
                                                                       required></div>
                                <div class="col-xl-12 form-col"><input type="text"
                                                                       class="type-text"
                                                                       placeholder="Email Address"
                                                                       [(ngModel)]="email"
                                                                       name="email"
                                                                       required></div>
                                <div class="col-xl-12 form-col"><input type="password"
                                                                       class="type-text"
                                                                       placeholder="Password"
                                                                       [(ngModel)]="password"
                                                                       name="password"
                                                                       required></div>
                                <div class="col-xl-12 form-col">
                                    <button type="submit"
                                            class="btn  w-100 green-btn ">Register
                                    </button>
                                </div>
                                <div class="col-xl-12 form-col">
                                    <button type="button"
                                            class="btn btn-secondary w-100"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="helpUs"
     class="helpUs">
    <div class="alert alert-primary"
         role="alert">
        Need your Support.
    </div>
</div>-->
<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel"> Release Note (0.1.1) (2019-04-14) </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Instruction</h6>
                <ul>
                    <li>Download (ThisMyPC-win32-x64.zip)</li>
                    <li>Unzip and run Thismypc.exe</li>
                    <li>Logging to app and website using same username and password</li>
                    <li>Browser Your pc from any devise :)</li>
                </ul>
                <h6>New Featured </h6>
                <ul>
                    <li>Now You have Create Folder option</li>
                    <li>If Pc get disconnected it show in your PC List</li>

                </ul>
                <h6>Fixed </h6>
                <ul>
                    <li>Increase app loading speed.</li>

                </ul>
                <p>We welcome your feedback <a href="mailto:supunlakmal61@gmail.com">supunlakmal61@gmail.com </a></p>
            </div>
        </div>
    </div>
</div>


<!-- Side  alert-->


<div class="ol-modal ol-beh-fade"
     id="contribute_alert"
     *ngIf="contribute_alert_show">

    <aside class="featured-content-popup-interstitial">
        <div class="featured-content-popup-interstitial-chrome">
            <div class="featured-content-popup-interstitial-chrome-actions">
                <div class="featured-content-popup-interstitial-chrome-actions-action ol-close">
                    <div class="featured-content-popup-interstitial-chrome-actions-action-media">
                        <div class="featured-content-popup-interstitial-chrome-actions-action-media-object">
                            <i (click)="contribute_alert_close()"
                               class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-content-popup-interstitial-media">
            <img alt="Isle of Pines, New Caledonia"
                 class="featured-content-popup-interstitial-media-object"
                 src="assets/images/header_img_1.png">
        </div>
        <div class="featured-content-popup-interstitial-main">
            <div class="featured-content-popup-interstitial-label">

                <span class="featured-content-popup-interstitial-label-title">Want to contribute to open source?</span>
                <span class="featured-content-popup-interstitial-label-description">Whether it’s coding, testing, user interface design, graphic design, writing, or organizing, if you’re looking for practice, there’s a task for you on an open source project.</span>
            </div>
            <div class="featured-content-popup-interstitial-actions">
                <div class="featured-content-popup-interstitial-actions-action ol-confirm">
                    <div class="featured-content-popup-interstitial-actions-action-label">
                        <span class="featured-content-popup-interstitial-actions-action-label-title"
                              data-toggle="modal"
                              data-target="#contribute_alert_Modal"
                              (click)="contribute_alert_close()"
                        >Count me in</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
<div class="modal fade"
     id="contribute_alert_Modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <img class="logo-modal"
                             src="assets/images/logo/logo.png"
                             alt="logo">
                    </div>

                    <div class="col-xl-12"
                         *ngIf="message_contribute_done">


                        <div class="row">

                            <div class="col-xl-12 text-center ">
                                <h4>Congratulation</h4>
                                <h5>You did it!</h5>
                                <blockquote class="blockquote">
                                    <p class="mb-0">Whether you just made your first open source contribution, or you’re
                                        looking for new ways to contribute, we hope you’re inspired to take action. Open
                                        source is made by people like you :) <br> -
                                        <a href="https://opensource.guide">opensource.guide</a></p>
                                </blockquote>

                            </div>


                            <div class="col-xl-12 form-col">
                                <button type="button"
                                        class="btn btn-secondary w-100"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>


                    </div>


                    <div class="col-xl-12"
                         *ngIf="!message_contribute_done">
                        <form action=""
                              (submit)="onContribute($event)">
                            <div class="row">
                                <div class="col-xl-12 form-col">
                                    <div class="error_message"
                                         *ngIf="error_message_contribute">
                                        {{error_message_contribute_text}}
                                    </div>
                                </div>


                                <div class="col-xl-12 form-col"><input type="text"
                                                                       class="type-text"
                                                                       placeholder="Full Name"
                                                                       [(ngModel)]="fullName"
                                                                       name="fullName"
                                                                       required></div>
                                <div class="col-xl-12 form-col"><input type="text"
                                                                       class="type-text"
                                                                       placeholder="Email Address"
                                                                       [(ngModel)]="email_contribute"
                                                                       name="email_contribute"
                                                                       required></div>


                                <div class="col-xl-12 form-col">
                                    <button type="submit"
                                            class="btn btn-primary w-100 blue-btn ">Contribute
                                    </button>
                                </div>
                                <div class="col-xl-12 form-col">
                                    <button type="button"
                                            class="btn btn-secondary w-100"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Side  alert END-->

<router-outlet></router-outlet>