
.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
    }

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
    }