<div *ngIf="alert.openAlert"
     class="alert {{alert.class}} alert-dismissible fade show top_alert_position"
     role="alert">
    <span [innerHTML]="alert.massage"></span>
    <button aria-label="Close"
            class="close"
            data-dismiss="alert"
            type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<section class="system-font site-font">
    <!--    <nav class="navbar  navbar-expand-lg  navbar-dark bg-primary">
          <div class="navbar-brand">ThisMyPC</div>
          <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarText"
                  aria-controls="navbarText"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"
               id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link"
                         href="#">My Account</a>
                  </li>
                  <li class="nav-item">
                      <div class="nav-link"
                           (click)="logout()">LogOut
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="nav-link"
                           data-toggle="modal"
                           data-target="#sendFileModal"
                      >Send File To PC
                      </div>
                  </li>
              </ul>
          </div>
      </nav>-->


    <!-- Nav -->

    <nav class="navbar navbar-expand-lg navbar-light nav-bar-bg">
        <a class="navbar-brand"
           href="/system"><img class="logo"
                               src="assets/images/logo/logo.png"
                               alt="logo"></a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <span class="navbar-text">
        <ul class="navbar-nav mr-auto">


          <li class="nav-item active">
            <div class="nav-link mouse"
            >
              <div class="dropdown">
                <div id="dropdownMenuButton"
                     data-toggle="dropdown"
                     aria-haspopup="true"
                     aria-expanded="false">
                  Welcome back, {{user.name}}! <i class="fas fa-angle-down"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right system-font"
                     aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"
                     href="/account">Account</a>
                  <a class="dropdown-item"
                     href="/system">PC</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"
                     href="#"
                     (click)="logout()">Logout</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </span>
        </div>
    </nav>


    <!--Nav end  -->
    <div class="container">
        <div class="row ">


            <div class="card-body col-xl-6">

                <select *ngIf="(pcs | json) != '[]'"
                        name=""
                        id=""
                        class="type-text"
                        #pc
                        (change)="selectPC(pc.value)">

                    <option value="*">Select Pc</option>
                    <option *ngFor="let pc of pcs; let p = index;"
                            [value]="pc._id">


                        {{pc.pcName}}
                        {{pc.platform}}


                    </option>

                </select>


                <span *ngIf="(pcs | json) === '[]'">Online  Pc not available</span>


            </div>


            <div class=" card-body col-xl-6">


                <form action=""
                      (submit)="getAccessToPC()">
                    <div class="row">


                        <div class="col-xl-8"><input type="text"
                                                     name="publicPcKey"
                                                     [(ngModel)]="publicPcKey"
                                                     class="type-text"
                                                     placeholder="Public PC Key"></div>
                        <div class="col-xl-4">


                            <button type="submit"
                                    class="btn btn-primary w-100 blue-btn ">Access PC
                            </button>


                        </div>
                    </div>

                </form>


            </div>


            <div class="card-body col-xl-12">
                <span class="card-box-title">Driver List</span>
                <div class="row"
                     *ngIf="(hDDList.parts | json) != '[]'">
                    <div class="col-xl-3 system-font    "
                         *ngFor="let hd of hDDList.parts; let i = index ">
                        <div class="hddBox box mouse main-hdd-box"
                             id="click_{{i}}"
                             (click)="openDrive(hd.letter ,i)">
                            <div class="row ">
                                <div class="col-xl-12 ">
                                    <div class="row">
                                        <div class="col-xl-1">
                                            <i class="far fa-hdd"></i>
                                        </div>
                                        <div class="col-xl-10">
                                            <strong> {{hd.letter}} </strong>
                                            <br>
                                            {{hd.free}} free of {{hd.size}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <span class="card-box-title">{{openFolderName}}</span>
        <div class="row"
             *ngIf="(folderList | json) != '[]'">
            <div class="card-body col-xl-12">
                <!-- <h5 class="card-title">Folder List <i class="fas fa-cogs mouse" data-toggle="modal" data-target="#fileOption"></i></h5> -->
                <div class="row">
                    <div class="col-xl-3  "
                         *ngFor="let folder of folderList;  let e = index">
                        <div class="box">
                            <div class="row">
                                <div class="col-xl-1"
                                     (click)="openFolder(folder.path , folder.fileName)">
                                    <i class="far fa-folder mouse"
                                       *ngIf="!folder.file"></i>
                                    <i class="far fa-file mouse"
                                       *ngIf="folder.file"></i>
                                </div>
                                <div class="col-xl-8 mouse folder-name"
                                     (click)="openFolder(folder.path)">
                                    {{folder.fileName}}
                                </div>

                                <div class="col-xl-1">


                                    <div class="dropdown">


                                        <i class="blue-text fas fa-angle-down mouse "

                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"></i>

                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <div class="dropdown-item disabled mouse"
                                                 *ngIf="folder.file">Cut <span class="badge badge-pill badge-primary">Pending</span>
                                            </div>
                                            <div class="dropdown-item mouse disabled"
                                                 *ngIf="folder.file">Copy <span class="badge badge-pill badge-primary">Pending</span>
                                            </div>
                                            <div *ngIf="!folder.file"
                                                 class="dropdown-item mouse disabled">Paste
                                                <span class="badge badge-pill badge-primary">Pending</span>
                                            </div>
                                            <div *ngIf="folder.file"
                                                 class="dropdown-item mouse disabled"
                                                 (click)="downloadFileRequest(folder.path)">Download
                                                <span class="badge badge-pill badge-primary">Max  1 MB Pending</span>
                                            </div>
                                            <div *ngIf="!folder.file"
                                                 class="dropdown-item mouse disabled">Upload
                                                <span class="badge badge-pill badge-primary">Max 1 MB Pending</span>
                                            </div>
                                            <div (click)="propertyFunction(folder)"
                                                 class="dropdown-item mouse "
                                                 data-toggle="modal"
                                                 data-target="#fileOrFolderProperty">Property
                                                <span class="badge badge-pill badge-primary">On Development </span>
                                            </div>

                                        </div>
                                    </div>


                                    <!--<i class="fas fa-ellipsis-h mouse" data-toggle="modal" data-target="#fileOption" (click)="fileOption(folder)"></i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- file  or  folder  property-->


<div *ngIf="(property | json) != '[]'"
     class="modal fade"
     id="fileOrFolderProperty"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{property.fileName}}</h5><br>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Size - {{property.fileInfo.sizeText}}</li>
                    <li class="list-group-item">Created - {{property.fileInfo.birthTime}}</li>
                    <li class="list-group-item">Accessed - {{property.fileInfo.accessed}}</li>
                    <li class="list-group-item">Modified - {{property.fileInfo.modified}}</li>

                </ul>
            </div>
        </div>
    </div>
</div>


<!--TODO Below model need to remove  for  future   modification   -->


<!-- Modal -->
<div class="modal fade"
     id="fileOption"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{folderInfo.fileName}} ( {{folderInfo.path}})</h5><br>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 mouse"
                         (click)="clickCopy(folderInfo)"
                         data-dismiss="modal">
                        <div class="row">
                            <div class="col-xl-2"><i class="far fa-copy"></i></div>
                            <div class="col-xl-10">Copy</div>
                        </div>
                    </div>
                    <div class="col-xl-12 mouse"
                         data-dismiss="modal"
                         (click)="clickPaste(folderInfo)">
                        <div class="row">
                            <div class="col-xl-2"><i class="fas fa-paste"></i></div>
                            <div class="col-xl-10">Paste</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade"
     id="sendFileModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Send File to PC</h5><br>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="file"
                           id="sendfile"
                           (change)="onFileChange($event)">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>