<div class="alert {{alert.class}} alert-dismissible fade show top_alert_position" role="alert" *ngIf="alert.openAlert">
  <span [innerHTML]="alert.massage"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="system-font site-font">
  <nav class="navbar navbar-expand-lg navbar-light nav-bar-bg">
    <a class="navbar-brand" href="/system"><img class="logo" src="assets/images/logo/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="nav-link mouse" data-toggle="modal" data-target="#loginModal">
              <div class="dropdown">
                <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Welcome back, {{user.firstName}}! <i class="fas fa-angle-down"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right system-font" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/account">Account</a>
                  <a class="dropdown-item" href="/system">PC</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </nav>
  <!--Nav end  -->
  <div class="container">
    <div class="row ">
      <div class="card-body col-xl-12">
        <div id="header2_left">
          <h1>
            {{user.firstName}} {{user.lastName}}
          </h1>
          <span class="header2_details">
            {{user.email}}
          </span>
        </div>
      </div>
    </div>
    <ul class="nav  mb-3 pills-tab-account" id="pills-tab-account" role="tablist">
      <li class="nav-item">
        <a class="nav-link active account-a" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab"
          aria-controls="pills-account" aria-selected="true">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link account-a" id="pills-authentication-tab" data-toggle="pill" href="#pills-authentication"
          role="tab" aria-controls="pills-authentication" aria-selected="false">Authentication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link account-a" id="pills-myPC-tab" data-toggle="pill" href="#pills-myPC" role="tab"
          aria-controls="pills-myPC" aria-selected="false">My PC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link account-a" id="pills-userLog-tab" data-toggle="pill" href="#pills-userLog" role="tab"
          aria-controls="pills-userLog" aria-selected="false">User Log</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
        <div class="row">
          <div class="col-xl-6 account-box">
            <div class="row">
              <form action="" (submit)="onUpdate($event)">
                <div class="col-xl-12 form-col title header">Your Detailes</div>
                <div class="col-xl-12 form-col">
                  <div class="error_message" *ngIf="error_message">
                    {{error_message_text}}
                  </div>
                </div>
                <div class="col-xl-12 form-col ">
                  <div class="row">
                    <div class="col-xl-6 "><input type="text" class="type-text" placeholder="First Name"
                        [(ngModel)]="firstName" name="firstName" required value="{{user.firstName}}"></div>
                    <div class="col-xl-6"><input type="text" class="type-text" placeholder="Last Name"
                        [(ngModel)]="lastName" name="lastName" value="{{user.lastName}}"></div>
                  </div>
                </div>
                <div class="col-xl-12 form-col">
                  <button type="submit" class="btn btn-primary w-100 blue-btn ">Update Profile
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-authentication" role="tabpanel" aria-labelledby="pills-authentication-tab">
        <div class="row">
          <div class="col-xl-6 account-box">
            <div class="row">
              <form class="col-xl-12" action="" (submit)="onUpdatePassword($event)">
                <div class="col-xl-12 form-col title header">Change Password</div>
                <div class="col-xl-12 form-col">
                  <div class="error_message" *ngIf="error_passowrd">
                    {{error_passowrd_text}}
                  </div>
                </div>
                <div class="col-xl-12 form-col "><input type="password" class="type-text" placeholder="Current Password"
                    [(ngModel)]="password" name="password" required></div>
                <div class="col-xl-12 form-col"><input type="password" class="type-text" placeholder="New Password"
                    [(ngModel)]="newPassword" name="newPassword"></div>
                <div class="col-xl-12 form-col"><input type="password" class="type-text"
                    placeholder="Confirm New Password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword"></div>
                <div class="col-xl-12 form-col">
                  <button type="submit" class="btn btn-primary w-100 blue-btn ">Change Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-myPC" role="tabpanel" aria-labelledby="pills-myPC-tab">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">PC</th>
                <th scope="col">Platform</th>
                <th scope="col">Allow Public</th>
                <th scope="col">Public access key</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pc of pcs; let p = index;">
                <td><span *ngIf="pc.pcOnline===1" class="badge badge-pill badge-success">Online</span>
                  <span *ngIf="pc.pcOnline===0 || pc.pcOnline ==='' "
                    class="badge badge-pill badge-danger">Offline</span>
                </td>
                <td>{{pc.pcName}}</td>
                <td>{{pc.platform}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input (change)="allowPublic(pc._id,p, $event)" type="checkbox" class="custom-control-input"
                      id="customSwitch1{{pc._id}}" [checked]="pc.publicAccessStatus===1">
                    <label class="custom-control-label" for="customSwitch1{{pc._id}}"></label>
                  </div>
                </td>
                <td>
                  <span *ngIf="pc.publicAccessStatus==0"> No Public Access Key </span>
                  <span *ngIf="pc.publicAccessStatus==1">
                    <div class="row">
                      <div class="col-xl-12"> <input type="text" class="type-text" value="{{pc.publicAccessKey}}"></div>
                      <!--<div class="col-xl-1"> <i class="far fa-copy copyIcon"  data-toggle="tooltip" data-placement="right" title="Copy Public Access Key"></i> </div>
-->
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade " id="pills-userLog" role="tabpanel" aria-labelledby="pills-account-tab">User Log</div>
      <!--      <div class="tab-pane fade " id="pills-pcLog" role="tabpanel" aria-labelledby="pills-account-tab">PC Log</div>-->
    </div>
  </div>
</section>